psycopg2-binary
django==3.2.8
django-address
django-extensions
django-filter
django-heroku
django-debug-toolbar
django-money
django-phone-field
djangorestframework
dj-database-url
gunicorn
markdown
pydotplus
python-dotenv
pyyaml
reportlab
secret-key-generator
xhtml2pdf
whitenoise
